<table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th>id</th>
        <th>user_id</th>
        <th>starts at</th>
        <th>ends at</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="assignment in assignments" ng-click="selectAssignment(assignment)">
            <td>{{assignment.id}}</td>
            <td>{{assignment.user_id}}</td>
            <td>{{assignment.starts_at}}</td>
            <td>{{assignment.ends_at}}</td>
        </tr>
    </tbody>
</table>

<pre>
    {{ selectedAssignment | json}}
</pre>