<table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>starts at</th>
        <th>ends at</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in projects">
            <td>{{project.id}}</td>
            <td><a href='' ng-click="getUsersPerProject(project)">{{project.name}}</a></td>
            <td>{{project.starts_at}}</td>
            <td>{{project.ends_at}}</td>
        </tr>
    </tbody>
</table>


<table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th>id</th>
        <th>hire_date</th>
        <th>({{users.length}}) Display name</th>
        <th>Role</th>
        <th>Discipline</th>
        <th>Location</th>
        <th>Mobile Phone</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.hire_date}}</td>
            <td>{{user.display_name}}</td>
            <td>{{user.role}}</td>
            <td>{{user.discipline}}</td>
            <td>{{user.location}}</td>
            <td>{{user.mobile_phone}}</td>
        </tr>
    </tbody>
</table>

